.mdl-card--expand {
  flex-wrap: wrap;
}

.mdl-card {
  margin: 16px;
  flex: 1 0 33%;
  height: 18rem;
}

.mdl-card_title,
.mdl-card--expand,
.mdl-card_description {
  padding: 0 16px;
}

.mdl-card-description {
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 16px;
}

@media (max-width: 700px) {
  .mdl-card {
    flex: 1 0 50%;
  }
}