.page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
}

.mdl-layout__content {
  display: flex;
}

.mdl-layout.is-upgraded .mdl-layout__tab-panel.is-active {
  display: grid;
}
